<h1>Editing appraisal</h1>

<%= render "form", appraisal: @appraisal %>

<br>

<div>
  <%= link_to "Show this appraisal", @appraisal %> |
  <%= link_to "Back to appraisals", appraisals_path %>
</div>
