<p style="color: green"><%= notice %></p>

<h1>Leaves Requested</h1>

<div id="vacations" class="white-bg-card">
  <% @vacations.order(created_at: :desc).each do |vacation| %>
    <%= render vacation %>
    <p>
      <%= link_to "Show this leave", vacation %>
      <hr>
    </p>
  <% end %>
</div>
<br>
<%= link_to "New Leave", new_vacation_path, class: "btn btn-primary" %>
<br>
<br>
