<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="controllers">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this controller", user %>
    </p>
  <% end %>
</div>

<%= link_to "New User", new_user_registration_path %>
