<p style="color: green"><%= notice %></p>

<h1>Welcome, <%= current_user.first_name %></h1>

<% if is_profile_complete? %>
  <h2>Nice. You profile is now complete</h2>  
<% else %>
  <%= link_to "Please complete profile", users_complete_profile_path %>
<% end %>
<br>

<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
