<p style="color: green"><%= notice %></p>

<h1>Welcome, <%= current_user.first_name.capitalize %></h1>

<%= render "shared/current_balance" %>

<br>

<%= render "shared/current_transactions" %>

<br> 
