<br>
<h1>All Transactions</h1>
<% if @transactions.size > 0 %>
  <% @transactions.each do |t| %>
  <section class="current-transactions">
    <section class="main-content">
      <section class="reason-date">
      <h5><%= t.description.capitalize %></h5>
      <small><%= t.created_at%></small>
      </section>
      <section class="amount">
        <h4>$<%= t.amount%></h4>
        </section>
      </section>
    </section>
  <% end %>
<% else %>
  <h4>You do not have any transactions right now.</h4>
<% end %>
